<ngx-slick-carousel
  class="carousel mx-4 my-3 py-3"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <!-- @for (slide of slides; track slide.img) {
    <div ngxSlickItem class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
    } -->
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card />
  </div>
</ngx-slick-carousel>
