<!-- <ngx-slick-carousel
  class="carousel mx-4 my-3 py-3"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>

  <div ngxSlickItem class="slide">
    <app-product-card [product]="product"/>
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card [product]="product"/>
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card [product]="product"/>
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card [product]="product" />
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card [product]="product"/>
  </div>
  <div ngxSlickItem class="slide">
    <app-product-card [product]="product"/>
  </div>
</ngx-slick-carousel> -->


<p-carousel 
    [value]="slides" 
    [numVisible]="3" 
    [numScroll]="3" 
    [circular]="true" 
    [responsiveOptions]="responsiveOptions" 
    autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
                
        </ng-template>
</p-carousel>