.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 5px;
}

.user-control:hover > .user-control-menu {
  display: block;
  margin-top: 0px;
  margin-left: -90px;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.btn.btn-outline-success {
  width: 150px;
}

a {
  height: 100% !important;
  align-items: center;
  display: flex;
}

nav {
  background-color: white;
  position: fixed;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  transition: width 0.3s ease-in-out;
}

nav.expanded {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
}

.form-search {
  position: relative;
  min-width: 25rem;
}

.form-search:focus {
  border: #2063aa;
}

.form-search .fa-search {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #2063aa;
}

.form-search span {
  position: absolute;
  right: 17px;
  top: 4px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
  cursor: pointer;
}

.left-pan:hover {
  color: #2063aa;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 80%;
  text-indent: 33px;
  border-radius: 50px;
}

.form-input:focus {
  box-shadow: none;
}