<footer class="footer text-white pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="fs-4 fw-bolder">PetShop</h5>
        <p class="footer-description">
          PetShop ra đời với mong muốn mang lại cho khách hàng sự chuyên nghiệp, uy tín mang nét đẹp hoa mỹ mà chúng
          tôi đem lại sự trải nghiệm tốt nhất cho thú cưng của chúng ta. Với nhiều năm kinh nghiệm trong ngành dịch vụ
          thú cưng bao gồm: Spa thú cưng, Khách sạn thú cưng, Dịch vụ thú cưng tại nhà...
        </p>

        <address>
          <span class="pe-2"><i class="fa fa-home" aria-hidden="true"></i></span>3/2 phường Xuân Khánh, quận Ninh Kiều,
          Cần Thơ<br>
          <span class="pe-2"><i class="fa fa-phone" aria-hidden="true"></i></span>077 653 7697<br>
          <span class="pe-2"><i class="fa fa-envelope"
              aria-hidden="true"></i></span>thanhb2012255&#64;student.ctu.edu.vn
        </address>
        <ul class="social-icons text-white px-0">
          <li class="icon-item-list"><span><i class="fa fa-facebook-square" aria-hidden="true"></i></span></li>
          <li class="icon-item-list"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></li>
          <li class="icon-item-list"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></li>
          <li class="icon-item-list"><span><i class="fa fa-phone-square" aria-hidden="true"></i></span></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="fs-4 fw-bolder">Sản phẩm chính</h5>
        <ul>
          <li>Mua bán Chó</li>
          <li>Mua bán Mèo</li>
          <li>Mua bán chuột Hamster</li>
          <li>Dịch vụ chăm sóc thẩm mỹ thú cưng</li>
          <li>Dịch vụ lưu trú cho thú cưng</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="fs-4 fw-bolder">Địa chỉ cửa hàng</h5>
        <div class="map-for-branch">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.8414543770946!2d105.76804037450881!3d10.029938972519918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zxJDhuqFpIGjhu41jIEPhuqduIFRoxqE!5e0!3m2!1svi!2s!4v1731750031121!5m2!1svi!2s"
            width="400" height="400" style="border:0; border-radius: 10px" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div>
  </div>
  <div class="row bg-dark mb-0 my-3 justify-content-center">
    <div class="col-md-12">
      <p class="text-center">&copy; 2024 PetShop. All rights reserved.</p>
    </div>
  </div>
</footer>