@import "../../../styles.scss";

.product-filter {
  flex: 0 0 21%; /* Fixed width */
  max-width: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(#{$header-height} + 30px);
  height: 80vh;
}