<div class="nav nav-tabs">
    @for (item of serviceItems; track item.imageSrc) {
    <div class="nav-item">
        <div class="nav-link" role='button' [class.active]="item.isActive" (click)="toggleActive(item.name)">
            <span class="account-option">
                <!-- <img
              [src]="item.imageSrc"
              alt="Thông tin tài khoản"
              style="margin-right: 8px"
            /> -->
                <span class="item-label">{{ item.label }}</span>
            </span>
        </div>
    </div>
    }

</div>

<div>
    <router-outlet></router-outlet>
</div>