<div class="mb-3 ms-3 fs-5 fw-bold">Lọc theo khoảng giá</div>
<div class="d-flex justify-content-center mx-3 mb-3">
  <form #numberForm="ngForm">
    <div class="row">
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="₫ Từ"
          name="minValue"
          [(ngModel)]="minValue"
        />
      </div>
      <div
        class="col-1 px-0 d-flex align-items-center"
        style="width: 2%; height: 38px"
      >
        <span> - </span>
      </div>
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="₫ Đến"
          name="maxValue"
          [(ngModel)]="maxValue"
        />
      </div>
    </div>
  </form>
</div>
<div class="d-flex justify-content-center mb-3">
  <div class="btn btn-outline-primary" type="button" (click)="onPriceRangeChanged()">Áp dụng</div>
</div>
