<div class="container-sm">
  <div class="fs-2 fw-bold">GIỚI THIỆU VỀ PET SHOP</div>

  <div>
    <p>
      PET SHOP ra đời với mong muốn mang lại cho khách hàng sự chuyên nghiệp, uy
      tín mang nét đẹp hoa mỹ mà chúng tôi đem lại sự trải nghiệm tốt nhất cho
      thú cưng của chúng ta. Với hơn 5 năm kinh nghiệm trong ngành dịch vụ thú
      cưng bao gồm: Thú y, Spa thú cưng, Khách sạn thú cưng, Cung cấp các dòng
      thú cưng chuyên nghiệp...
    </p>
  </div>

  <div>
    <div class="fs-5 fw-bold">Đội ngũ PET SHOP</div>
    <div>
      <p>
        Với đội ngũ Nhân viên Spa - Grooming chuyên nghiệp, đội ngũ chăm sóc
        khách hàng có nhiều năm kinh nghiệm. Nhân viên PET SHOP với tin thần
        trách nhiệm, cởi mở với Slogan “Để thú cưng của bạn được chỉn chu nhất”.
      </p>
    </div>
  </div>

  <div>
    <div class="fs-5 fw-bold">Tại sao lại chọn PET SHOP ?</div>
    <div>
      <p></p>
      <p></p>

      <ul>
        <li>Dịch vụ CHẤT LƯỢNG đi đôi với UY TÍN;</li>
        <li>
          Đặc biệt, Gói Tháng dành cho các Khách hàng có nhu cầu sử dụng thường
          xuyên với rất nhiều ưu đãi;
        </li>
        <li>
          Đội ngũ nhân viên CHUYÊN NGHIỆP với THÁI ĐỘ phục vụ Pet yêu một cách
          tốt nhất;
        </li>

        <img src="/assets/pet-hotel.jpg" alt="" class="text-center" />

        <li>
          Có bộ phận Customer Service riêng để THEO DÕI tình hình thú cưng của
          bạn;
        </li>
        <li>Dịch vụ đưa đón khứ hồi - Miễn phí đưa đón khu vực Ninh Kiều;</li>

        <li>Trang thiết bị ĐẦY ĐỦ, ĐẢM BẢO vệ sinh sạch sẽ;</li>
      </ul>
    </div>
  </div>

  <p>
    Chúng tôi đem đến cho thú cưng của bạn một sự chăm sóc với tình thương yêu,
    tinh thần trách nhiệm, và sự thông hiểu tâm lý sâu sắc.
  </p>

  <p>Hãy liên hệ ngay với PET SHOP qua thông tin bên dưới:</p>

  <p>
    <span class="fw-bold"> Địa chỉ </span>: Khu II, Đ. 3 Tháng 2, Xuân Khánh,
    Ninh Kiều, Cần Thơ
  </p>

  <p>
    <span class="fw-bold">Những dịch vụ mà PET SHOP đáp ứng</span>: Grooming tại
    spa, Cắt tỉa lông tại nhà, Tắm thú cưng tại nhà, Khách sạn thú cưng….
  </p>
</div>
