@import '../../../../styles.scss';

.account-sidebar-items {
  max-width: 350px;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.account-sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: white;
  max-width: 100%;
  border-left: 5px solid white;
  a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }
}

.account-sidebar-item:hover {
  filter: invert(1);
  font-size: 1rem;
  font-weight: bold;
}

.account-sidebar-item.active:hover {
  border-left: 5px solid white;
  filter: invert(1);
  font-size: 1rem;
  font-weight: bold;
}

.active {
  border-left: 5px solid rgb(0, 0, 0);
  transition: 5ms;
}

.account-option {
  display: flex;
  vertical-align: baseline;
  padding-left: 10px;
  width: 100% !important;
  img {
    vertical-align: middle;
    width: 25px;
    margin-right: 3px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
}

.account-sidebar-items {
  flex: 0 0 21%; /* Fixed width */
  max-width: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(#{$header-height} + 30px);
  height: fit-content;
}
