<div class="modal-content address-modal">
  <div class="modal-header" style="z-index: 1">
    <div class="modal-title fs-4" id="exampleModalLabel">
      Thông tin thú cưng
    </div>
    <button
      type="button"
      class="btn-close me-3"
      aria-label="Close"
      aria-label="Close"
      (click)="dismissDialog()"
    ></button>
  </div>

  <div class="modal-body" style="z-index: 2">
    <div class="formgrid grid">
      <div class="field col-5">
        <p-fileUpload
          class="text-end h-100"
          chooseIcon="pi pi-upload"
          name="myFile[]"
          uploadLabel=""
          chooseLabel="Tải lên"
          url="./upload.php"
          accept="image/*"
          maxFileSize="5000000"
          [auto]="true"
          progress="none"
          (onSelect)="onSelectImage($event.currentFiles[0])"
          required
        >
          <ng-template
            pTemplate="header"
            let-files
            let-chooseCallback="chooseCallback"
            let-clearCallback="clearCallback"
            let-uploadCallback="uploadCallback"
          >
            <div
              class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
            >
              <div class="flex gap-2">
                <p-button
                  (onClick)="choose($event, chooseCallback)"
                  icon="pi pi-cloud-upload"
                  [rounded]="true"
                  [outlined]="true"
                />
                <p-button
                  (onClick)="imageSrc = ''"
                  icon="pi pi-times"
                  [rounded]="true"
                  [outlined]="true"
                  severity="danger"
                  [disabled]="!imageSrc"
                />
              </div>
            </div>
          </ng-template>
          <ng-template let-file pTemplate="file" class="d-none"> </ng-template>
          <ng-template pTemplate="content">
            @if(!imageSrc) {
            <div
              class="flex align-items-center justify-content-center flex-column"
            >
              <i
                class="pi pi-cloud-upload border-2 border-circle p-3 text-4xl text-400 border-400 h-50 mb-3"
              ></i>
              <p class="m-0">Kéo thả hình để tải lên...</p>
            </div>
            } @else {
            <img
              [src]="imageSrc"
              class="block m-auto pb-3"
              style="max-width: 300px"
            />
            }
          </ng-template>
        </p-fileUpload>
      </div>

      <div class="field col">
        <p-panel [toggleable]="true" toggler="header">
          <ng-template pTemplate="header" class="cursor-pointer">
            <div class="fs-4 text-blue">Thông tin thú cưng</div>
          </ng-template>
          <div class="d-flex flex-column">
            <label for="name">Tên thú cưng </label>
            <input
              type="text"
              pInputText
              id="name"
              [(ngModel)]="petName"
              required
              autofocus
            />
          </div>

          <div class="formgrid grid mt-2">
            <div class="field col">
              <label class="mb-3"
                >Loại thú nuôi <span class="text-danger">*</span></label
              >
              <div class="formgrid grid">
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category1"
                    name="category"
                    value="DOG"
                    [(ngModel)]="selectedPetBreed"
                  />
                  <label for="category1"> {{ petBreed.DOG }}</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category2"
                    name="category"
                    value="CAT"
                    [(ngModel)]="selectedPetBreed"
                  />
                  <label for="category2">{{ petBreed.CAT }}</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category3"
                    name="category"
                    value="HAMSTER"
                    [(ngModel)]="selectedPetBreed"
                  />
                  <label for="category3">{{ petBreed.HAMSTER }}</label>
                </div>
              </div>
            </div>
            <div class="field col">
              <label for="category-name"
                >Giống thú nuôi <span class="text-danger">*</span></label
              >
              <input
                type="text"
                pInputText
                id="category-name"
                [(ngModel)]="categoryName"
                required
                autofocus
                class="form-control"
              />
            </div>
          </div>
        </p-panel>

        <div class="my-3"></div>

        <p-panel [toggleable]="true" toggler="header" collapsed="false">
          <ng-template pTemplate="header" class="cursor-pointer">
            <div class="fs-4 text-blue">Thông tin sức khỏe</div>
          </ng-template>
          <div class="formgrid grid">
            <div class="field col">
              <label for="gender">Giới tính</label>
              <div class="formgrid grid">
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="gender1"
                    name="gender"
                    value="MALE"
                    [(ngModel)]="gender"
                  />
                  <label for="gender1">Đực</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="gender2"
                    name="gender"
                    value="FEMALE"
                    [(ngModel)]="gender"
                  />
                  <label for="gender2">Cái</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="gender3"
                    name="gender"
                    value="OTHER"
                    [(ngModel)]="gender"
                  />
                  <label for="gender3">Chưa biết</label>
                </div>
              </div>
            </div>
            <div class="field col d-flex flex-column">
              <label for="pet-color">Màu lông</label>
              <input
                type="text"
                pInputText
                id="pet-color"
                [(ngModel)]="color"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="dob">Ngày sinh</label>
              <p-calendar
                [(ngModel)]="dob"
                view="month"
                dateFormat="mm/yy"
                class="d-grid"
              />
            </div>
            <div class="field col d-flex flex-column">
              <label for="pet-origin">Nguồn gốc</label>
              <input
                type="text"
                pInputText
                id="pet-origin"
                [(ngModel)]="origin"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col flex-column">
              <label for="weight">Cân nặng</label>
              <p-inputGroup>
                <input
                  type="number"
                  pInputText
                  id="weight"
                  [(ngModel)]="latestHealthRecord!.weight"
                />
                <p-inputGroupAddon>kg</p-inputGroupAddon>
              </p-inputGroup>
            </div>
            <div class="field col flex-column">
              <label for="petLength">Chiều dài</label>
              <p-inputGroup>
                <input
                  type="number"
                  pInputText
                  id="petLength"
                  [(ngModel)]="latestHealthRecord!.petLength"
                />
                <p-inputGroupAddon>cm</p-inputGroupAddon>
              </p-inputGroup>
            </div>
          </div>
          <div class="d-flex flex-column">
            <label for="vaccination">Tình trạng tiêm vaccine</label>
            <input
              type="text"
              pInputText
              id="vaccination"
              [(ngModel)]="latestHealthRecord!.vaccination"
            />
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer" style="z-index: 1">
  <button type="button" class="btn-save btn" (click)="saveProduct()">
    Lưu
  </button>
  <button type="button" class="btn btn-cancel" (click)="dismissDialog()">
    Trở lại
  </button>
</div>
