<div *ngIf="pagingConfig && pagingConfig.totalItems > 0" class="mx-3 mb-5 d-flex justify-content-between w-95">
  <div class="text-secondary fs-5">Hiển thị {{ totalItemsInCurrentPage | async }} trên tổng {{ pagingConfig.totalItems }} sản phẩm</div>
  <ng-select
    class="custom"
    bindLabel="option"
    bindValue="id"
    [items]="sortingOptions"
    [multiple]="false"
    [ngModel]="selectedSortingOption"
    (change)="onSelectedSortingOptionChange($event)"
    [clearable]="false"
    [searchable]="false"
  >
  </ng-select>
</div>
<div class="d-flex flex-wrap justify-content-center w-95 mb-5">
  @for (product of products | paginate: pagingConfig; track product.id ) {
  <div class="product mx-3 mb-3">
    <app-product-list-card [product]="product"></app-product-list-card>
  </div>
  }
</div>
<div class="mx-3 w-95 d-flex justify-content-center align-items-center">
  <div class="mx-2"><span>Số lượng hiển thị</span></div>
  <div class="col-1">
    <select
      name="noOfRows"
      (change)="onTableSizeChange($event)"
      class="form-select form-select-sm"
    >
      <option *ngFor="let size of tableSize" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <div>
    <pagination-controls
      previousLabel="Trước"
      nextLabel="Tiếp"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
