.ng-select.custom {
    border:0px;
    min-height: 20px;
    width: 250px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 20px;
    width: 250px;
    border-radius: 0;
}