<div
  class="drop-area m-3"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  (click)="avatarInput.click()"
>
  <figure class="figure avatar-frame cursor-pointer"
    title="Kéo thả hoặc click để đổi ảnh đại diện">
    <img
      *ngIf="avatar"
      [src]="avatar"
      class="figure-img avatar-image"
      alt="Avatar"
    />
  </figure>
  <figcaption class="figure-caption fs-5 mt-1">
    @if (loggedInUser) {
      {{ loggedInUser.name }}
    }
  </figcaption>
</div>

<input
  #avatarInput
  type="file"
  accept="image/*"
  (change)="onAvatarChanged(avatarInput.files)"
  [style.display]="'none'"
/>
