<app-header
  *ngIf="$customerHeader | async"
  class="header d-flex justify-content-center"
></app-header>

<div class="w-100" [ngClass]="{ 'margin-top': $customerHeader | async }">
  <router-outlet></router-outlet>
</div>
<app-spinner></app-spinner>

@if ($customerHeader | async) {
  <div class="scroll-to-top-btn text-center rounded" role="button" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
}

<app-footer
  class="mt-5"
  *ngIf="$customerHeader | async"
></app-footer>

<app-toast-message aria-live="polite" aria-atomic="true"></app-toast-message>