@if (cartDetails) {
  <div class="d-flex flex-row mx-5 gap-3">
    <div class="col-8">
      <div class="fs-4 fw-bold">Giỏ hàng</div>
      <div class="my-3">
        Có <span class="fw-bold">{{ cartDetails.length }} sản phẩm</span> trong giỏ hàng.
      </div>

      @for (cartDetail of cartDetails; track $index) {
        <app-cart-card 
          [cartDetail]="cartDetail"
          (onCartDetailSelected)="onCartDetailSelected(cartDetail, $event)"
          (onCartDetailChanged)="onCartDetailChanged($event)"
          (onDeleted)="onCartDetailDeleted($event)"
        >
        </app-cart-card>
      }
    </div>
  
    <div class="col-4 p-0">
      <app-order-info 
        [loggedInUser]="loggedInUser"
        [selectedCartDetails]="selectedCartDetails"
      />
    </div>
  </div>
  
}