
.modal {
    overflow: visible;
    height: fit-content;
}

.modal-header {
    padding: 9px;
    padding-left: 20px;
}

.modal-body {
    padding: 9px 15px;
    overflow-y: visible;
}

.modal-content {
    overflow: visible;
}

.btn {
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    line-height: 1;
    box-sizing: border-box;
    // font-family: "CriteriaCF", "Pangea", sans-serif;
    margin-right: 10px;
    border: 1px solid #252525;
    cursor: pointer;
}


.btn-cancel:hover {
    background-color: #181819;
    color: #e4dddd;
    border: 1px solid #232325;
}

.btn-save {
    background-color: #2f5acf;
    color: #e4dddd;
}

.btn-save:hover {
    background-color: #143aa2;
    color: #e4dddd;
}

.loader {
    display: block;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 100;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 20px solid #e5e3e3;
    animation: prixClipFix 2s linear infinite;
    z-index: 1000;
}

.loader::after {
    border-color: #2424be;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
    z-index: 1000;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}