<div class="col-md-4 col-sm-6" role="button" (click)="navigateToDetail()">
  <div class="product-card">
      <div class="product-image">
          <img [src]="product()?.imageData?.imageUrls"
          [alt]="product()?.name" class="img-fluid">
      </div>
      <div class="product-details p-3">
          <h6 class="product-title mb-2">{{ product()?.name }}</h6>
          <div class="price-rating d-flex justify-content-between align-items-center mb-3">
              <span class="price">{{ product()?.price | currency : "VND" }}</span>
              <div class="rating ">
                <span class="fs-6 fa {{ calculateRate1() }}"></span>
                <span class="fs-6 fa {{ calculateRate2() }}"></span>
                <span class="fs-6 fa {{ calculateRate3() }}"></span>
                <span class="fs-6 fa {{ calculateRate4() }}"></span>
                <span class="fs-6 fa {{ calculateRate5() }}"></span>
                  <span class="rating-text">({{ product()?.countRating }})</span>
              </div>
          </div>
          <!-- <button class="btn btn-add-cart w-100" aria-label="Add to Cart" (click)="addToCart()">
              <i class="bi bi-cart-plus me-2"></i>Thêm vào giỏ hàng
          </button> -->
      </div>
  </div>
</div>