<div class="col-md-4 col-sm-6" role="button" (click)="navigateToDetail()">
  <div class="product-card">
      <div class="product-image">
          <img referrerPolicy="no-referrer" [src]="product()?.imageData?.imageUrls"
          [alt]="product()?.name" class="img-fluid">
      </div>
      <div class="product-details p-3">
          <h6 class="product-title mb-2">{{ product()?.name }}</h6>
          <div class="price-rating d-flex justify-content-between align-items-center mb-3">
              <span class="price">{{ product()?.price | currency : "VND" }}</span>
              <app-product-rating-display class="fs-6"
                [rating]="product() ? product()!.rating : 0"
                [countRating]="product() ? product()!.countRating : 0" />
          <!-- <button class="btn btn-add-cart w-100" aria-label="Add to Cart" (click)="addToCart()">
              <i class="bi bi-cart-plus me-2"></i>Thêm vào giỏ hàng
          </button> -->
      </div>
  </div>
</div>