<div [id]="product()!.id" class="product-card card hover-shadow"
(click)="navigateToDetail()">
  <div class="card-img-top d-flex justify-content-center">
    <img
      src="https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-happy-smile-dog-images-png-image_10276876.png"
      alt="Tên sản phẩm"
    />
  </div>
  <div class="card-body mx-1">
    <p class="card-title fw-bold mb-0 product-title-hovered">{{ product()?.name }}</p>
    <span class="fa {{ calculateRate1() }}"></span>
    <span class="fa {{ calculateRate2() }}"></span>
    <span class="fa {{ calculateRate3() }}"></span>
    <span class="fa {{ calculateRate4() }}"></span>
    <span class="fa {{ calculateRate5() }}"></span>
    <span class="count-review mx-1">({{ 5 }} đánh giá)</span>
    <p class="card-text original-price mb-0">
      <del>{{ product()?.price | currency : "VND" }}</del>
    </p>
    <p class="card-text price mb-0">
      <bdi>{{ product()?.price | currency : "VND" }}</bdi>
    </p>
  </div>
</div>
