<div class="account-content my-50">
  <div id="info-tab" class="account-info">
    <h2 class="account-page-title">Thông tin tài khoản</h2>
    @if (!isEditMode) {
    <div>
      <div class="account-info-form">
        <div class="account-info-field">
          <div class="account-info-label">Họ và tên</div>
          <div class="account-info-value" *ngIf="userInfo.name">
            {{ userInfo.name }}
          </div>
          <div class="account-info-value" *ngIf="!userInfo.name">
            Chưa cập nhật!
          </div>
        </div>
        <div class="account-info-field">
          <div class="account-info-label">Email</div>
          <div class="account-info-value">
            <span
              style="opacity: 0.6; font-size: 0.85em"
              *ngIf="userInfo.email"
            >
              <i>{{ userInfo.email }}</i>
            </span>
            <span
              style="opacity: 0.6; font-size: 0.85em"
              *ngIf="!userInfo.email"
            >
              <i>Chưa cập nhật!</i>
            </span>
          </div>
        </div>
        <div class="account-info-field">
          <div class="account-info-label">Số điện thoại</div>
          <div class="account-info-value">
            <span
              style="opacity: 0.6; font-size: 0.85em"
              *ngIf="userInfo.phone"
            >
              <i>{{ userInfo.phone }}</i>
            </span>
            <span
              style="opacity: 0.6; font-size: 0.85em"
              *ngIf="!userInfo.phone"
            >
              <i>Chưa cập nhật!</i>
            </span>
          </div>
        </div>
        <div class="account-info-field" style="position: relative">
          <div class="account-info-label">
            Ngày sinh <i class="bday-note">(ngày/tháng/năm)</i>
          </div>
          <div class="account-info-value">
            <span style="opacity: 0.6; font-size: 0.85em">
              <i>{{
                userInfo.dob
                  ? formatDate(userInfo.dob.toString())
                  : "Chưa cập nhật!"
              }}</i>
            </span>
          </div>
        </div>
      </div>
      <h3 class="account-page-title">Thông tin đăng nhập</h3>
      <div class="account-info-field">
        <div class="account-info-label">Tên đăng nhập</div>
        <div class="account-info-value" *ngIf="userInfo.account">
          {{ userInfo.account }}
        </div>
        <div class="account-info-value" *ngIf="!userInfo.account">
          Chưa cập nhật!
        </div>
      </div>
      <div class="account-info-field">
        <div class="account-info-label">Mật khẩu</div>
        <div class="account-info-value">**********************</div>
      </div>

      <div class="account-info-field">
        <button (click)="clickUpdate()" class="btn account-info-btn">
          Cập nhật
        </button>
      </div>
    </div>

    } @else {
    <div>
      <div class="account-info-form">
        <div class="account-info-field">
          <div class="account-info-label">Họ và tên</div>
          <div class="account-info-value edit-field">
            <input
              type="text"
              name="name"
              placeholder="Nguyễn Văn A"
              [(ngModel)]="userInfo.name"
              class="form-control custom-cursor-default-hover"
            />
          </div>
        </div>
        <div class="account-info-field">
          <div class="account-info-label">Email</div>
          <div class="account-info-value edit-field">
            <input
              type="email"
              class="form-control"
              id="customer-email"
              placeholder="nva@gmail.com"
              name="email"
              [(ngModel)]="userInfo.email"
              class="form-control"
            />
          </div>
        </div>
        <div class="account-info-field">
          <div class="account-info-label">Số điện thoại</div>
          <div class="account-info-value edit-field">
            <input
              type="text"
              name="phone"
              [(ngModel)]="userInfo.phone"
              placeholder="01234xxxxx"
              autocomplete="off"
              class="form-control"
            />
          </div>
        </div>
        <div class="account-info-field" style="position: relative">
          <div class="account-info-label">
            Ngày sinh <i class="bday-note">(ngày/tháng/năm)</i>
          </div>
          <div class="account-info-value edit-field">
            <p-calendar
              [(ngModel)]="userInfo.dob"
              view="date"
              class="w-100 d-grid"
              [iconDisplay]="'input'" 
              [showIcon]="true"
              dateFormat="dd/mm/yy"
            />
          </div>
        </div>
      </div>
      <h3 class="account-page-title">Thông tin đăng nhập</h3>
      <div class="account-info-field">
        <div class="account-info-label">Tên đăng nhập</div>
        <div class="account-info-value" *ngIf="userInfo.account">
          {{ userInfo.account }}
        </div>
        <div class="account-info-value" *ngIf="!userInfo.account">
          Chưa cập nhật!
        </div>
      </div>
      <div class="account-info-field">
        <div class="account-info-label">Mật khẩu</div>
        <div class="account-info-value">**********************</div>
      </div>

      <div class="account-info-field">
        <button (click)="clickSaveUpdate()" class="btn account-info-btn">
          Lưu thay đổi
        </button>
      </div>
    </div>
    }
  </div>
</div>
