@if ($reviews | async; as reviews) {
<div id="reviews" class="product-single__reviews">
  <div class="reviews__container">
    <div class="reviews">
      @if(overallRating == 0) {
        <div class="reviews-leftside">
            <div class="reviews-leftside__rating">
              <div class="reviews-rating-mb__title">
                <h5>Chưa có đánh giá</h5>
              </div>
            </div>
          </div>
      } @else {
          <div class="reviews-leftside">
            <div class="reviews-leftside__rating">
              <div class="reviews-rating-mb__title">
                <h5>Đánh giá sản phẩm</h5>
              </div>
              <div class="reviews-rating-mb__rating">
                {{ averageStar }}
              </div>
              <div class="reviews-rating yellow">
                                <div
                                    :class="['reviews-rating__star', Math.round(averageStar * 10) / 10 >= 1 ? 'is-active' : '']">
                                </div>
                                <div
                                    :class="['reviews-rating__star', Math.round(averageStar * 10) / 10 >= 2 ? 'is-active' : Math.round(averageStar * 10) / 10 > 1 && Math.round(averageStar * 10) / 10 <= 3 ? 'is-half' : 'is-blank']">
                                </div>
                                <div
                                    :class="['reviews-rating__star', Math.round(averageStar * 10) / 10 >= 3 ? 'is-active' : Math.round(averageStar * 10) / 10 > 2 && Math.round(averageStar * 10) / 10 < 4 ? 'is-half' : 'is-blank']">
                                </div>
                                <div
                                    :class="['reviews-rating__star', Math.round(averageStar * 10) / 10 >= 4 ? 'is-active' : Math.round(averageStar * 10) / 10 > 3 && Math.round(averageStar * 10) / 10 < 5 ? 'is-half' : 'is-blank']">
                                </div>
                                <div
                                    :class="['reviews-rating__star', Math.round(averageStar * 10) / 10 > 4 && Math.round(averageStar * 10) / 10 < 5 ? 'is-half' : Math.round(averageStar * 10) / 10 == 5 ? 'is-active' : 'is-blank']">
                                </div>
                            </div>
                            <div class="reviews-rating-mb__count">
                                {{ overallRating }} đánh giá
                            </div>
            </div>
          </div>
      }
      <div class="reviews-rightside w-100">
        
        <div class="reviews-listing">
          <div class="grid">
            <div class="grid__column">
              @for (review of reviews; track $index) {
              <div class="reviews-listing__item border-bottom">
                <div class="reviews-listing__content">
                  <div class="reviews-author__name">
                    {{ review.customer.name }}
                  </div>
                  <div class="reviews-rating">
                    <div 
                        class="reviews-rating__star"
                        [class.is-active]="review.rate >= 1"
                    ></div>
                    <div
                        class="reviews-rating__star"
                        [class.is-active]="review.rate >= 2"
                    ></div>
                    <div
                        class="reviews-rating__star"
                        [class.is-active]="review.rate >= 3"
                    ></div>
                    <div
                         class="reviews-rating__star"
                        [class.is-active]="review.rate >= 4"
                    ></div>
                    <div
                        class="reviews-rating__star"
                        [class.is-active]="review.rate >= 5"
                    ></div>
                  </div>
                  <div class="reviews-order">
                    <!-- <div class="order-item-variant-label">
                      {{ review.orderDetail.productDetail.color }} /
                      {{ review.orderDetail.productDetail.size }}
                    </div> TODO --> 
                  </div>
                  <div class="reviews-listing__description">
                    <p>
                      {{ review.content }}
                    </p>
                    <div
                      class="reviews-listing-gallery"
                      rel-script="product-gallery-popup"
                    >

                    @if (review.imageData) {

                    @for (image of review.imageData!.imageUrls!.split(','); track $index) {
                      <a
                        class="reviews-listing-image"
                        rel-script="product-lightbox-gallery"
                        data-index="0"
                      >
                        <img [src]="image" alt="0" />
                      </a>
                    }

                }
                    </div>

                    <span class="reviews-listing__date">
                      {{ review.createDate }}</span
                    >
                  </div>
                </div>
              </div>
            }
            </div>
          </div>
          <!-- <div class="reviews-pagination">
            <a href="" class="reviews-pagination__prev"></a>
            <span>1/2</span>
            <a href="" class="reviews-pagination__next"></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
}
