<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="Thêm mới"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        uploadLabel="Import"
        class="mr-2 inline-block p-3"
      />
      <p-button severity="help" label="Export" icon="pi pi-upload" />
    </ng-template>
  </p-toolbar>

  <p-table
    [lazy]="true"
    (onLazyLoad)="loadPetProducts($event)"
    [paginator]="true"
    [rows]="15"
    [totalRecords]="total"
    #table
    [loading]="loading"
    #dt
    [value]="products"
    sortMode="multiple"
    [globalFilterFields]="['id', 'name', 'price', 'weight', 'age']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">QUẢN LÝ SẢN PHẨM</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <!-- <input
            #search
            pInputText
            type="text"
            (input)="onSearch(search.value)"
            placeholder="Search..."
          /> -->
          <input
            #search
            pInputText
            type="text"
            (input)="dt.filterGlobal(search.value, 'contains')"
            placeholder="Tìm kiếm..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="id" style="min-width: 2rem">
          ID <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Tên sản phẩm <p-sortIcon field="name" />
        </th>
        <th class="d-flex justify-content-center">Hình ảnh</th>
        <th pSortableColumn="price" class="text-center">
          Giá <p-sortIcon field="price" />
        </th>
        <th class="text-center">Đánh giá</th>
        <th
          pSortableColumn="inventoryStatus"
          style="min-width: 10rem"
          class="text-center"
        >
          Trạng thái <p-sortIcon field="inventoryStatus" />
        </th>
        <th
          pSortableColumn="weight"
          style="min-width: 5rem"
          class="text-center"
        >
          Cân nặng <p-sortIcon field="weight" />
        </th>
        <th pSortableColumn="age" style="min-width: 5rem" class="text-center">
          Độ tuổi <p-sortIcon field="age" />
        </th>
        <th
          pSortableColumn="category.breed"
          style="min-width: 5rem"
          class="text-center"
        >
          Loại thú nuôi <p-sortIcon field="category.breed" />
        </th>
        <th
          pSortableColumn="category.name"
          style="min-width: 5rem"
          class="text-center"
        >
          Giống thú nuôi <p-sortIcon field="category.name" />
        </th>
        <th style="min-width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product" />
        </td>
        <td>
          {{ product.id }}
        </td>
        <td>
          {{ product.name }}
        </td>
        <td class="d-flex justify-content-center">
          <img
            [src]="product.imageData?.imageUrls"
            [alt]="product.name"
            width="50"
            class="shadow-4"
          />
        </td>
        <td class="text-center">
          {{ product.price | currency : "VND" }}
        </td>

        <td class="text-center">
          <p-rating
            [(ngModel)]="product.rating"
            [readonly]="true"
            [cancel]="false"
          />
        </td>
        <td class="text-center">
          <!-- <p-tag 
                        [value]="product.inventoryStatus" 
                        [severity]="getSeverity(product.inventoryStatus)" /> -->

          <p-tag value="INSTOCK" severity="success" />
        </td>
        <td class="text-center">
          {{ product.weight }}
        </td>
        <td class="text-center">
          {{ product.age }}
        </td>
        <td class="text-center">
          <span *ngIf="product.category?.breed === 'CAT'">
            {{ petBreed.CAT }}</span
          >
          <span *ngIf="product.category?.breed === 'DOG'">
            {{ petBreed.DOG }}</span
          >
          <span *ngIf="product.category?.breed === 'HAMSTER'">
            {{ petBreed.HAMSTER }}</span
          >
        </td>
        <td class="text-center">
          {{ product.category?.name }}
        </td>
        <td class="text-center px-0">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            [style.width]="30"
            [style.height]="30"
            (onClick)="editProduct(product)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteProduct(product)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>

  @if(productDialog) {
    <app-product-detail-edit
      [product]="product"
      [(productDialog)]="productDialog"
      (loading)="onLoading($event)"
      (submittedChanged)="onSubmitted($event)"
    >
    </app-product-detail-edit>
  }

  @if(addProductDialog) {
    <app-product-add-dialog
      [(addProductDialog)]="addProductDialog"
      (loading)="onLoading($event)"
      (submittedChanged)="onSubmitted($event)">
    </app-product-add-dialog>
  }

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
