:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

:host ::ng-deep ul, .p-column-filter-row-items {
    padding-left: 0px !important;
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    width: 30px !important;
    height: 30px !important;
    padding: 1rem;
}