.account-content {
    position: relative;
    /* display: flex; */
    align-items: center;
    padding: 3rem 3rem;
    transition: all .2s;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.account-page-title {
    font-size: 2.25em;
    font-weight: 400;
}

.account-address .account-page-title {
    margin-bottom: 0;
}

.account-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1333333333);
}

.account-page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 0 40px;
    border-radius: 100vmax;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    background-color: #000;
    transition: all .3s;
    letter-spacing: .125rem;
    font-size: 1rem;
    cursor: pointer;
}

.account-page-button:hover {
    background-color: #2f5acf;
    color: #fff;
    border: 0;
}

.account-address-title {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.account-address-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1333333333);
}

.account-address-content {
    flex: 1;
}

.account-address-text {
    font-size: 1rem;
    color: rgba(0, 0, 0, .6);
}

.account-address-head {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.account-address-action {
    display: flex;
    flex-flow: column;
}

.account-address-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
}

.account-address-buttons button {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #2f5acf;
}

.account-address-buttons button:hover {
    color: #000;
}

.account-address-buttons button:last-of-type {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid rgba(0, 0, 0, .1333333333);
}

.account-address-button {
    display: flex;
    align-items: center;
    height: 34px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    color: #000;
    border-radius: 100vmax;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .3s;
}

.account-address-button:hover {
    background-color: #000;
    color: #fff;
}

.account-address-head span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1333333333);
    border-radius: 100vmax;
    padding: 4px 10px 5px;
    font-size: .75rem;
    margin-left: 0.5rem;
}

.account-address-head span:before {
    content: "";
    width: 0.625rem;
    height: 0.625rem;
    display: block;
    background-image: url(https://mcdn.coolmate.me/image/September2023/mceclip0_65.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    margin-right: 0.25rem;
}


.grid {
    display: flex;
    display: -webkit-flex;
    -moz-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -9px;
    margin-right: -9px;
    padding: 0;
    position: relative;
    float: none;
}

.six-twelfths {
    width: 50%;
}

.grid-column {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 9px;
    padding-top: 0px;
    width: 100%;
}

.form-control,
.vue-select .vs-dropdown-toggle {
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 16px;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    transition: all 0.2s;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.v-select {
    position: relative;
    font-family: inherit;
}

.vs--searchable .vs-dropdown-toggle {
    cursor: text;
}

.vue-select .vs-dropdown-toggle {
    padding: 5px 10px 5px 20px;
}

.form-control,
.vue-select .vs-dropdown-toggle {
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 16px;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    transition: all 0.2s;
}

.vs-dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    padding: 0 0 4px;
    background: 0 0;
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-radius: 4px;
    white-space: normal;
}

.vue-select .vs-selected,
.vue-select .vs-selected-options {
    padding: 0;
    margin: 0;
    align-items: center;
}

.vs-selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;
}

.vs--single .vs-selected {
    background-color: transparent;
    border-color: transparent;
}

.vue-select .vs-selected,
.vue-select .vs-selected-options {
    padding: 0;
    margin: 0;
    align-items: center;
}

.vs-selected {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-radius: 4px;
    color: #333;
    line-height: 1.4;
    margin: 4px 2px 0;
    padding: 0 0.25em;
    z-index: 0;
}

.vue-select .vs-search {
    margin: 0;
    padding: 0;
}

.vs-search,
.vs-search:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.4;
    font-size: 1em;
    border: 1px solid transparent;
    border-left: none;
    outline: none;
    margin: 4px 0 0;
    padding: 0 7px;
    background: 0 0;
    box-shadow: none;
    width: 0;
    max-width: 100%;
    flex-grow: 1;
    z-index: 1;
}

.vue-select .vs-selected {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vs-actions {
    display: flex;
    align-items: center;
    padding: 4px 6px 0 3px;
}

.vs-clear {
    fill: rgba(60, 60, 60, 0.5);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
}

.vs-spinner {
    align-self: center;
    opacity: 0;
    font-size: 5px;
    text-indent: -9999em;
    overflow: hidden;
    border: 0.9em solid hsla(0, 0%, 39.2%, 0.1);
    border-left-color: rgba(60, 60, 60, 0.45);
    transform: translateZ(0);
    animation: vSelectSpinner 1.1s linear infinite;
    transition: opacity 0.1s;
}

.form-control:focus,
.form-control:active .vs-dropdown-toggle:focus,
.vs-dropdown-toggle:active {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #2f5acf !important;
}

.seven-twelfths {
    width: 58.333%;
}

.six-twelfths {
    width: 50%;
}

.city-list,
.district-list,
.village-list,
.shipping-service-list {
    display: block;
    background-color: white;
    z-index: 99;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 150px;
    cursor: pointer;
}

.village-list {
    max-height: 100px;
}

.city-option,
.district-option,
.village-option,
.shipping-service-option {
    margin: 2px 0px 2px;
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 5px;
    z-index: 100;
}

.city-option:hover,
.district-option:hover,
.village-option:hover,
.shipping-service-option:hover {
    background-color: #333;
    color: #fff;
}

.vs-dropdown-toggle:hover,
input:hover {
    cursor: pointer;
}

.modal {
    overflow: visible;
}

.modal-header {
    padding: 9px;
    padding-left: 20px;
}

.modal-body {
    padding: 9px 15px;
    overflow-y: visible;
}

.modal-content {
    overflow: visible;
}

.btn {
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    line-height: 1;
    box-sizing: border-box;
    // font-family: "CriteriaCF", "Pangea", sans-serif;
    margin-right: 10px;
    border: 1px solid #252525;
    cursor: pointer;
}


.btn-cancel:hover {
    background-color: #181819;
    color: #e4dddd;
    border: 1px solid #232325;
}

.btn-save {
    background-color: #2f5acf;
    color: #e4dddd;
}

.btn-save:hover {
    background-color: #143aa2;
    color: #e4dddd;
}

.loader {
    display: block;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 100;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 20px solid #e5e3e3;
    animation: prixClipFix 2s linear infinite;
    z-index: 1000;
}

.loader::after {
    border-color: #2424be;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
    z-index: 1000;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}