<div class="m-3">
    <div class="mb-3 fs-5 fw-bold">Lọc theo loại sản phẩm</div>
    <label class="container fw-bolder">Phụ kiện thú cưng
        <input type="checkbox">
        <span class="checkmark" checked="true"></span>
        <span class="number-of-product">12</span>
    </label>
    <label class="container fw-bolder">Thức ăn thú cưng
        <input type="checkbox">
        <span class="checkmark"></span>
        <span class="number-of-product">12</span>
    </label>
    <label class="container fw-bolder">Chó
        <input type="checkbox">
        <span class="checkmark"></span>
        <span class="number-of-product">12</span>
    </label>
    <label class="container fw-bolder">Mèo
        <input type="checkbox">
        <span class="checkmark"></span>
        <span class="number-of-product">12</span>
    </label>
    <label class="container fw-bolder">Hamster
        <input type="checkbox">
        <span class="checkmark"></span>
        <span class="number-of-product">12</span>
    </label>
</div>