<div>
  <label class="container category"
    >Phụ kiện thú cưng
    <input
      type="checkbox"
      name="accessory"
      [ngModel]="accessory"
      (click)="accessory = !accessory; onCategoriesChanged()"
    />
    <span class="checkmark"></span>
  </label>
  <label class="container category"
    >Thức ăn thú cưng
    <input
      type="checkbox"
      name="food"
      [ngModel]="food"
      (click)="food = !food; onCategoriesChanged()"
    />
    <span class="checkmark"></span>
  </label>
  <label class="container category"
    >Chó
    <input
      type="checkbox"
      name="dog"
      [ngModel]="dog"
      (click)="dog = !dog; onCategoriesChanged()"
    />
    <span class="checkmark"></span>
  </label>
  <label class="container category"
    >Mèo
    <input
      type="checkbox"
      name="cat"
      [ngModel]="cat"
      (click)="cat = !cat; onCategoriesChanged()"
    />
    <span class="checkmark"></span>
  </label>
  <label class="container category"
    >Hamster
    <input
      type="checkbox"
      name="hamster"
      [ngModel]="hamster"
      (click)="hamster = !hamster; onCategoriesChanged()"
    />
    <span class="checkmark"></span>
  </label>
</div>
