:host {
  position: fixed;
  top: 50px;
  right: 30%;
  margin: 0.5em;
  z-index: 1200;
}


.toast-bg-success {
  background-color: #00BC8C !important;
  border-color: #00BC8C !important;
}

.toast-bg-info {
  background-color: #3598DB !important;
  border-color: #3598DB !important;
}

.toast-bg-warning {
  background-color: #F39C11 !important;
  border-color: #F39C11 !important;
}

.toast-bg-error {
  background-color: #E84C3D !important;
  border-color: #E84C3D !important;
}